<?xml version="1.0" encoding="UTF-8" ?>
<openerp>
    <data>
        <record id="mindev_menu_tree" model="ir.ui.view">
            <field name="name">mindev.menu.tree</field>
            <field name="model">mindev.menu.tree</field>
            <field name="field_parent">child_id</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="xname"/>
                    <field name="id"/>
                    <field name="xml_id"/>
                    <field name="xml_module"/>
                    <field name="xml_name"/>
                    <field name="sequence"/>
                    <field name="child_id" invisible="1"/>
                </tree>
            </field>
        </record>
        <record id="mindev_menu_action" model="ir.actions.act_window">
            <field name="name">Menus SetUp</field>
            <field name="res_model">mindev.menu.tree</field>
            <field name="view_mode">tree</field>
            <field name="view_type">tree</field>
            <field name="view_id" ref="mindev_menu_tree"/>
            <field name="domain">[('parent_id', '=', False)]</field>
        </record>
        <menuitem id="menu_mindev_menu" name="Menus SetUp"
                  action="mindev_menu_action"
                  parent="mindev.menu_min_dev" sequence="5"/>
    </data>
</openerp>
